BasedOnStyle: LLVM
IndentWidth: 2
AlignAfterOpenBracket: false
ColumnLimit: 0

AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true

AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
  Enabled: false
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCaseColons: true

AllowShortBlocksOnASingleLine: Always
# AllowShortCaseExpressionOnASingleLine: true # - only on clang-format 19
AllowShortCaseLabelsOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true

BinPackArguments: false
BinPackParameters: false

InsertNewlineAtEOF: true
IndentCaseLabels: true
PointerAlignment: Left
